#TOKEN2=6027584024:AAE1-a5V_GGcmB-0d9DkDVaUy1ure3pDuHA
API_KEY=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
ORG=org-Cvl47HA7mmWRXH0No8LDEZ1p
LINK=postgresql://postgres:123456@localhost:5432/postgres



BOT_CONTAINER_NAME=apiserver
BOT_IMAGE_NAME=apiserver
BOT_NAME=A-bot
BOT_TOKEN=5931403832:AAEEJdfY4KhSLMzeI916FmlQmCsmkpnQSnU
ADMINS=683497406
USE_REDIS=False
TELEGRAM_API_ID=26426252
TELEGRAM_API_HASH=f7904641b7de0b8bc3f23fdc3175415e
TELEGRAM_LOCAL=1

#PG_CONTAINER_NAME=pg_database
#POSTGRES_USER=someusername
#POSTGRES_PASSWORD=postgres_pass12345
#POSTGRES_DB=bot
#DB_HOST=pg_database

# REDIS_HOST=redis_cache
# REDIS_PORT=6388
# REDIS_DB=1
# REDIS_PASSWORD=someredispass
# REDIS_CONTAINER_NAME=redis_bot


#WEBHOOK_CONTAINER_NAME=webhook
#WEBHOOK_EXPOSE=8001